form {
    width: 300px;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.login-box {
    margin: 4rem auto 0;
    width: max-content;
    background: rgb(67 67 67 / 50%);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    color: rgb(51, 215, 255) !important;
}

.login-box .form-control {
    background: rgb(0 0 0 / 15%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.login-box .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-box .btn-primary {
    background: #007bff;
    border: none;
}

.login-box .form-check-label {
    color: #fff;
}

.login-box .float-right {
    color: #fff;
    margin-left: 10px;
}


/* profile */
.ui-w-120 {
    width: 80%;
    height: auto;
    border-radius: 20px;
}
.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}
label.btn {
    margin-bottom: 0;
}
.btn-add-avatar{
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #20272e !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}
.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
    
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;

}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.list-group-item{
    background-color: rgba(178, 134, 199, 0) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}