body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background{  
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    color: #fff;
}

.login-box .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

.login-box .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-box .btn-primary {
    background: #007bff;
    border: none;
}

.login-box .form-check-label {
    color: #fff;
}

.login-box .float-right {
    color: #fff;
    margin-left: 10px;
}

.login-box a {
    color: #ffffff;
}
