:root{
    --bs-body-font-size: 0.9rem;
}
.btn{
    --bs-btn-font-size: 0.9rem;
}
.form-select{
    --bs-form-select-font-size: 0.9rem;
    font-size: 0.9rem;
}
.form-control{
    --bs-form-control-font-size: 0.9rem;
    font-size: 0.9rem;
}
.dropdown-menu{
    --bs-dropdown-font-size: 0.9rem;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.error {
    font-size: 12px;
    color: #ff5858;
    margin-left: 15px;
    font-weight: 600;
}

#loading-spiner {
    background-color: #0000006b;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}

#loading-spiner.active {
    display: block;
}

.simple-spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.simple-spinner span {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgba(255, 255, 255, 0.7);
    animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.product-thumbnail {
    width: 280px !important;
    height: 300px !important;
    object-fit: cover;
}